{% extends 'base.html' %}

{% block content %}
<div class="d-flex justify-content-center mt-3">
  <div class="col-lg-4">
    <img src="https://randomuser.me/api/portraits/women/90.jpg" alt="" class="bd-placeholder-img rounded-circle" width="140" height="140">
    <h2 class="fw-normal">Nilda</h2>
    <p>Estudiante de Ingeniería Ambiental en la Universidad Peruana Cayetano Heredia (UPCH), apasionada por la
      sostenibilidad y la gestión responsable de los recursos naturales. Con sólidos conocimientos en evaluación de
      impactos ambientales, conservación de ecosistemas y manejo de desastres naturales, se especializa en desarrollar
      soluciones innovadoras para mitigar problemas ambientales en Perú.</p>
  </div>
</div>
{% endblock %}
